<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" />
    <link rel="stylesheet" href="./style/contact.css" >
</head>
<body>
    <nav>
        <a class="logo" href="/"><img src="https://www.logolynx.com/images/logolynx/8b/8b3e21756a5b6c6c92482f8cf23ff667.jpeg" alt="" height="130px" width="200px"></a>
        <ul>
            <li type="none"><a href="/service">Our Services </a></li>
            <li type="none"><a href="/contact">Contact</a></li>
            </li>
         </ul>
   </nav>
    <div class="contact-box">
        <div class="contact-info">
            <div><i class="fas fa-map-marker-alt"></i>Adresss,contact,</div>
            <div><i class="fas fa-envelope"></i>mail</div>
            <div><i class="fas fa-phone"></i>+216 00 000 000</div>
            <div><i class="fas fa-clock"></i>Mon-Fri 8:00 AM to 5:00 PM</div>

        </div>
        <div class="contact-form">
            <h2 style="text-align:center; text-transform:lowercase;">send us an email</h2><hr><br>
            <form class="contact" action="" method="post">
                <input type ="text" name="name" class="text-box" placeholder="your name" required>
                <input type ="text" name="name" class="text-box" placeholder="your last name" required>
                <input type ="text" name="name" class="text-box" placeholder="phone" required>
                <input type ="email" name="name" class="text-box" placeholder="your mail" required>
                <input type ="text" name="name" class="text-box" placeholder="for wich event do you need us?" required>
                <input type="date"  name="trip-start" class="text-box"  required>
                <input type ="text" name="name" class="text-box" placeholder="planned Location" required>
                <textarea name="message" rows="5" placeholder="your message"></textarea>
                <input type ="submit" name="submit" class="send-btn" placeholder="your name" required>
            </form>

        </div>

    </div>
</body>
</html>