<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style/home.css" >
    
</head>

<body>
    <nav>
        <a class="logo" href="/"><img class="image" src="https://www.logolynx.com/images/logolynx/8b/8b3e21756a5b6c6c92482f8cf23ff667.jpeg" alt="" height="130px" width="200px"></a>
        <ul>
            <li type="none"><a href="/service">Our Services </a></li>
            <li type="none"><a href="/contact">Contact</a></li>
            </li>
         </ul>
   </nav>
   <div class="box">
    <div class="container">
        <h1 style="text-align:center; text-transform:lowercase;">agence d'organisation de mariage </h1>
        <h2 style="text-align:center; text-transform:lowercase;">UNE AGENCE POUR<br>
            ORGANISER VOTRE MARIAGE</h2>
            <p>Vous avez entendu parler des wedding planners ?<br> Vous cherchez une agence pour organiser votre mariage ?<br> Un tel événement ne s’improvise pas, pour son organisation vous avez raison de faire appel à des professionnels de l’événementiel. <br>Faites confiance à une société pionnière en Tunisie, présente partout dans l’Hexagone et à l’étranger. <br><h1> et reconnue pour sa satisfaction client !</h1></p>
    </div>
    
       

   </div>
</body>
</html>