@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Poppins:ital,wght@0,400;0,500;0,700;1,600&family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Poppins:ital,wght@0,400;0,500;0,700;1,600&family=Tangerine:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "poppins",sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box                                            ;
}
nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 70px;
        background-color: white;
        position: fixed;
        top: 0px;
       left: 0px;
       z-index: 3;
       
}
nav .logo{
    color: #00ccb1;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 600;
    text-decoration: none;
}

nav ul li{
    display: inline-block;    
    margin: 0 10px;
    }
    nav ul li a{
        color: rgb(88, 93, 96);
        text-decoration: none;
        font-size: 50px;
        font-weight: 400;
        font-family:  'Tangerine',cursive;
    }
    nav ul li a:hover{
        color:#4c454d;
    }

    body{
        margin-top: 100px;
        min-height: 100vh;
        background-image: url();
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(https://images.unsplash.com/photo-1516617442634-75371039cb3a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YmFja2dyb3VuZCUyMGltYWdlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60);
        background-size: cover;

    }
  .contact-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

  .contact-info{
    color:#fff;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
    
  }
  .contact-info i{
    margin-right: 20px;
    font-size: 25px;
  }

  .contact-form{
    max-width: 700px;
    margin-right: 50px;
  }
 
  .contact-info, .contact-form{
    flex: 1;
  }

  .contact-form h2{
    color:#fff;
    text-align: center;
    font-size: 55px;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-family: 'Tangerine',cursive;;

  }

  .contact-form .text-box{
    color: black;
    border: none;
    width: 300px;
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
  }
  .contact-form .text-box:first-child{
    margin-right: 15px;
  }

  .contact-form textarea{
    color: black;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
  }
 .contact-form .send-btn{
    float: right;
    background: #A2B38B;
    color: black;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    transition-property:background ;
 }

 .contact-form .send-btn:hover{
background: rgb(114, 25, 25);
 }